* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(22, 21, 21, 0.756);
    color: white;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4a261;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Hero */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(10, 7, 7, 0.1);
}

.content {
    color: white;
    z-index: 1;
}

.content h1 {
    font-size: 50px;
}

.content button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background: #f4a261;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
}

.content button:hover {
    background: #e76f51;
}

/*call button*/

.call-btn {
    background: #ff3b3b;
    color: white;
    padding: 12px 30px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    animation: pulse 1.5s infinite;
}

.call-btn:hover {
    background: #e60000;
    transform: scale(1.1);
}




/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .services .cards {
        flex-direction: column;
        align-items: center;
    }
}


.about {
    height: auto;
}

.about-text {
    text-align: center;
}


/* Section Title */
.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

/* Row Layout */
.about-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Each Box */
.about-box {
    width: 300px;
    text-align: center;
}

/* Image */
.about-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* Text Box */
.about-text-box {
    margin-top: -30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f4a261;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Hover Effect */
.about-box:hover .about-text-box {
    transform: translateY(-10px);
    border-color: #e76f51;
}

/* Text */
.about-text-box h3 {
    margin-bottom: 10px;
}

.about-text-box p {
    color: #555;
    font-size: 14px;
}




/* Services Section */
.services {
    background: #f9f9f9;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 50px;
}

/* Card Design */
.service-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    text-align: center;
}

/* Hover Effect */
.service-card:hover {
    transform: translateY(-10px);
    border-color: #f4a261;
    background: #fff7f0;
}

/* Text */
.service-card h3 {
    margin-bottom: 10px;
    color: #333;
}

.service-card p {
    font-size: 15px;
    color: black;
}



/*contact section */

.contact-section {
    padding: 40px 20px;
    background: #fff;
    max-width: 1100px;
    margin: auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Layout */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Left */
.contact-info {
    flex: 1;
    min-width: 280px;
}

/* Right */
.contact-form {
    flex: 1;
    min-width: 280px;

}

/* Buttons */
.btn {
    display: inline-block;
    margin: 8px 5px 8px 0;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.call-btn {
    background: #28a745;
}



/* Form */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* Map */
.map {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 250px;
    border: 0;
    border-radius: 8px;
}

/* Mobile */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

/* Floating WhatsApp */
.float-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #078435;
    color: #fff;
    padding: 12px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
}

/*f00ter icons*/

.icon-btn {
    color: white;
    font-size: 24px;
    background: #222;
    padding: 12px;
    border-radius: 50%;
    transition: 0.3s;
}

.icon-btn:hover {
    transform: scale(1.2);
}

.facebook:hover {
    background: #1877F2;
}

.email:hover {
    background: #ff5722;
}





.slider-container {
    max-width: 900px;
    max-height: 600px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 15px;
}


.img {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
}



.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #717171;
}